@charset "utf-8";
/* CSS Document */

/* flag */
.goog-menu{margin-right:0;padding-bottom:10px;}
.goog-menu div{line-height:14px !important;}
.goog-menuseparator{border-top:1px solid #ebebeb;margin-top:0;margin-bottom:10px;}

.goog-menuitem,
.goog-tristatemenuitem,
.goog-filterobsmenuitem{position:relative;color:#333;cursor:pointer;list-style:none;margin:0;padding:4px 7em 4px 5px;white-space:nowrap;}
.goog-menuitem.first{padding-top:10px;padding-bottom:10px;}
.goog-menuitem:hover{background-color:#f1f1f1;}
.goog-inline-block{position:relative;display:-moz-inline-box;display:inline-block;}
* html .goog-inline-block{display:inline;}
*:first-child+html .goog-inline-block{display:inline;}
span.talk-select-country-name,
span.i18n-phone-select-country-name{margin:0 5px 0 7px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#222;line-height:22px;}
span.talk-select-country-code,
span.i18n-phone-select-country-code{font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#222;line-height:22px;}
.talk-flag,
.i18n-phone-flag{/*background-image:url(../img/national_flags.png);back no-repeat 0 0;*/width:16px;height:11px;overflow:hidden;margin-left:4px;margin-top:1px;*margin-top:0;}
.i18n-phone-flag img{vertical-align:top;}
