@charset "utf-8";
/* CSS Document */


.pop_container.openboard{padding:0 20px 30px;}

/* hotel_srch(openboard) */
.hotel_srch_wrap.openboard{border-bottom:none;}
.hotel_srch_wrap.openboard .hotel_srch_inner{width:auto;padding:22px 0;}

/* hotel_srch_control_group(openboard) */
.hotel_srch_control_group.openboard{}
.hotel_srch_control_group.openboard > ul > li{margin:0 0 0 10px;}
.hotel_srch_control_group.openboard > ul > li:first-child{margin:0;}
.hotel_srch_control_group.openboard .tx_tit{font-size:13px;line-height:38px;}
.hotel_srch_control_group.openboard .cal_srch{height:36px;background-color:#fff;background-image:url("../img/ob/bg_cal_srchLine.openboard.png");background-position:125px 50%;}
.hotel_srch_control_group.openboard .cal_srch a{height:36px;padding:0;}
/*.hotel_srch_control_group.openboard .cal_srch a strong{display:block;padding:1px 0 0;font-family:"Noto Sans KR";font-weight:400;font-size:12px;color:#222;line-height:14px;text-align:left;}*/
.hotel_srch_control_group.openboard .cal_srch a .tx_date{font-weight:400;font-size:13px;line-height:36px;}
.hotel_srch_control_group.openboard .cal_srch a.date_start{margin-left:0;padding-right:14px;padding-left:45px;}
.hotel_srch_control_group.openboard .cal_srch a .ic_cal{position:absolute;top:8px;left:14px;}
.hotel_srch_control_group.openboard .cal_srch a.date_end{margin-left:1px;padding:0 14px 0 14px;}

/* button */
a.btn_blue9{display:inline-block;min-width:74px;height:38px;padding:0 10px;font-family:"Noto Sans KR";font-weight:700;font-size:15px;color:#fff !important;line-height:38px;text-align:center;vertical-align:middle;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#0c419a;-webkit-box-shadow:0 5px 6px 0 rgba(22, 87, 152, 0.2);-moz-box-shadow:0 5px 6px 0 rgba(22, 87, 152, 0.2);box-shadow:0 5px 6px 0 rgba(22, 87, 152, 0.2);}
a.btn_white9{display:inline-block;min-width:74px;height:36px;padding:0 9px;font-family:'Noto Sans KR';font-weight:700;font-size:15px;color:#222 !important;line-height:36px;text-align:center;vertical-align:middle;border:1px solid #bacadb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#fff;}

/* seclect_control(openboard) */
.seclect_control.type3.openboard a.select_trigger{height:36px;font-size:13px;font-weight:400;line-height:36px;}
.seclect_control.type3.openboard a.select_trigger.on{}
.seclect_control.type3.openboard .seclect_ly{top:37px;}
.seclect_control.type3.openboard .seclect_ly ul li a{height:32px;padding:0 12px;line-height:32px;text-align:left;}
.seclect_control.type3.openboard .seclect_ly ul li:hover a{}

/* autoComplete(openboard) */
.autoComplete_ly_wrap.openboard{}
.autoComplete_ly_wrap.openboard .ipt_srch{height:38px;}
.autoComplete_ly_wrap.openboard .ipt_srch input[type=text]{height:38px;line-height:38px;}
.autoComplete_ly_wrap.openboard .ipt_srch input[type=text]:focus{}
/* autoComplete_ly */
.autoComplete_ly_wrap.openboard .autoComplete_ly{top:37px;width:260px;}

/* h style */
.h_style1_wrap{position:relative;margin:0;padding:0;border-bottom:1px solid #ccc;}
.h_style1_wrap.bdb_none{border-bottom:none;}
.h_style1_wrap h3{display:block;padding-top:5px;font-family:"Noto Sans KR";font-weight:700;color:#333;font-size:18px;line-height:29px;}
.h_style1_wrap .btn_right_box{position:absolute;top:0;right:0;}

.list_table{z-index:100;margin:0;width:100%;table-layout:fixed;cursor:default;}
.list_table thead{background-color:#fff;border-top:1px solid #bfbfbf;border-bottom:1px solid #bfbfbf;}
.list_table thead th{height:60px;padding:0 10px 0 10px;font-family:"Noto Sans KR";font-weight:700;font-size:13px;color:#222;line-height:60px;text-align:left;}
/*.list_table thead.bg{border-color:#fff;}*/
/*.list_table thead.bg td,*/
.list_table tbody td{position:relative;min-height:42px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#222;line-height:42px;text-align:left;border-bottom:1px solid #eaeaea;padding:0 10px 0 10px;vertical-align:top;}
.list_table tbody td.subject{text-align:left;}
.list_table tbody td a{display:block;font-family:"Noto Sans KR";font-weight:400;line-height:42px;vertical-align:top;}
.list_table tbody td.subject > a{display:inline-block;max-width:80%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_table tbody td.subject > a:hover{text-decoration:underline;}
.list_table tbody td.subject span.reCount{display:inline-block;padding:0;font-family:'Noto Sans KR';font-weight:400;font-size:13px;color:#666;line-height:42px;vertical-align:top;}
/*.list_table thead.bg td{background-color:#eef5f6;}*/
.list_table tbody tr:hover{background-color:#f4f4f4;}
/*.list_table tbody td a.txt_d:hover{text-decoration:underline;}*/
/*.list_table tbody td a.txt_d.off{color:#999;background:none;}*/
/*.list_table tbody td a.txt_d.on{color:#333;background:none;}*/
/*.list_table.thumb tbody td{height:39px;}*/
.list_table thead th.firstColumn,
.list_table tbody td.firstColumn{padding-left:20px !important;}
.list_table tfoot td.noneList{font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#222;line-height:128px;text-align:center;padding:0 10px 0 10px;vertical-align:top;}

i.kPointer{display:inline-block;min-width:20px;height:18px;vertical-align:-4px;margin-right:8px;padding:0 10px;font-style:normal;font-family:'Noto Sans KR';font-weight:400;font-size:11px;color:#fff;line-height:18px;text-align:center;border-radius:17px;background-color:#ff4442;overflow:hidden;}

/* ㄴ게시판 오름/내림차순 */
.list_table th span.order_control{display:inline-block;margin:0;padding:0;vertical-align:-1px;background-color:transparent;}
.list_table th span.order_control .ic_aOrder_default,
.list_table th span.order_control .ic_aOrder_active,
.list_table th span.order_control .ic_dOrder_active{display:block;width:14px;height:11px;margin:0;padding:0;background-repeat:no-repeat;background-position:50%;}
.list_table th span.order_control .ic_aOrder_default{background-image:url(../img/ob/ic_aOrder_default.png);}
.list_table th span.order_control .ic_aOrder_active{background-image:url(../img/ob/ic_aOrder_active.png);}
.list_table th span.order_control .ic_dOrder_active{background-image:url(../img/ob/ic_dOrder_active.png);}

/* layerstyle1 */
.layerstyle1{display:;position:absolute;border-top:3px solid #24a0df;z-index:500;}
.layerstyle1_po{z-index:600;position:relative;border:1px solid #6e6e6e;border-top:none;background-color:#fff;}
.layerstyle1_po .tail{display:block;position:absolute;width:9px;height:6px;background-image:url(../img/ob/bg_layerstyle1_tail.png);background-repeat:no-repeat;background-position:0 0;}
.layerstyle1_po dl.size_dif{margin:0 0 0 16px;padding:15px 0 0 74px;}
.layerstyle1_po dl.size_dif dt{font-size:14px;margin-bottom:6px;}
.layerstyle1_po dl.size_dif dt span{color:#888;font-size:12px !important;font-weight:normal;}
.layerstyle1_po dl.size_dif dd.photo{position:absolute;top:17px;left:0;}
.layerstyle1_po dl.size_dif dd.photo .photo_po{position:relative;}
.layerstyle1_po dl.size_dif dd.photo .photo_po .r_bg{width:63px;height:63px;background-image:url(../img/ob/bg_round2.png);background-repeat:no-repeat;background-position:0 0;}
.layerstyle1_po dl.size_dif dd.photo .photo_po img{width:63px;height:63px;}
.layerstyle1_po ul.ico_list{clear:both;overflow:hidden;margin-top:17px;}
.layerstyle1_po ul.ico_list li{float:none;clear:both;min-height:32px;width:100%;}
.layerstyle1_po ul.ico_list li span{display:block;margin:11px 0 0 53px;color:#505050;}
.layerstyle1_po ul.ico_list li.phone1{border-bottom:1px solid #dcdcdc;background:#f6f6f6 url(../img/ob/ic_phone1.gif) no-repeat 25px 8px;}
.layerstyle1_po ul.ico_list li.phone2{border-bottom:1px solid #dcdcdc;background:#f6f6f6 url(../img/ob/ic_phone2.gif) no-repeat 23px 9px;}
.layerstyle1_po ul.ico_list li.mail{padding-bottom:10px;/*background:#f6f6f6 url(../img/ico/ic_mail.gif) no-repeat 22px 12px;*/}
.layerstyle1_po .lp_btn_wrap{text-align:center;padding:0;background-color:#f6f6f6;}
.layerstyle1_po .lp_btn_wrap .filedown{text-align:center;word-break:nowrap;white-space:nowrap;display:inline-block;font-family:"Noto Sans KR";font-weight:700;font-size:13px;color:#505050;height:30px;padding:0 0 0 22px;margin:0 0 0 5px;line-height:30px;background-image:url(../img/ob/ic_filedown.png);background-repeat:no-repeat;background-position:0 50%;}
.layerstyle1_po .checkbox_list{}
.layerstyle1_po .checkbox_list li{height:25px;padding:10px 0 0 10px;border-bottom:1px solid #dcdcdc;}
.layerstyle1_po .checkbox_list label{cursor:pointer;display:inline-block;height:13px;margin:0 0 0 4px;padding:3px 0 0 23px;color:#505050;background-image:url(../_img/op/ic_folder.png);background-repeat:no-repeat;background-position:0 0;}
.layerstyle1_po .file_list{display:block;padding:10px 10px 10px 15px;width:250px;max-height:120px;overflow-y:auto;}
.layerstyle1_po .file_list li{text-align:left;/*margin-bottom:5px;*/line-height:23px;}
.layerstyle1_po .file_list a{text-align:left;word-break:nowrap;white-space:nowrap;cursor:pointer;display:inline-block;height:23px;margin:0;padding:0 0 0 17px;color:#222;line-height:23px;background-image:url(../img/ob/ic_s_file_off.png);background-repeat:no-repeat;background-position:0 50%;}
.layerstyle1_po .file_list a:hover{color:#000;background-image:url(../img/ob/ic_s_file_on.png);background-repeat:no-repeat;background-position:0 50%;}
.layerstyle1_po .file_list a span{font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#222;vertical-align:bottom;display:inline-block;max-width:190px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* n_paging_wrap */
.n_paging_wrap{position:relative;z-index:200;text-align:center;padding:15px 0 30px;height:20px;background-color:transparent;}
.n_paging_wrap img{vertical-align:middle;}
.n_paging_wrap a:hover{text-decoration:none;}
.n_paging_wrap .paging{padding:0;}
.n_paging_wrap .paging a{vertical-align:middle;display:inline-block;width:21px;height:18px;font-family:"Noto Sans KR";font-weight:400;line-height:18px;margin:0 1px;padding:0;font-size:11px;color:#666;border:1px solid #d8d8d8;background-color:#fff;overflow:hidden;}
.n_paging_wrap .paging a.on{font-weight:bold;color:#000;cursor:default;border:1px solid #949494;text-decoration:underline;}
.n_paging_wrap .paging_box{margin:0 auto;}

/*paging*/
.paging.type2.openboard{height:60px;border-top:none;border-bottom:none;text-align:center;}
.paging.type2.openboard .paging_inner{padding:20px 14px 21px;}

/* n_list_view_wrap */
.n_list_view_wrap{position:relative;margin:0;padding:12px 0 0;}
.n_list_view_wrap dl{margin:0;}
.n_list_view_wrap dt{position:relative;min-height:58px;padding:0 134px 0 20px;
font-family:"Noto Sans KR";font-weight:700;font-size:17px;color:#222;border-bottom:1px solid #bfbfbf;background-color:#fff;}
.n_list_view_wrap dt.point{position:relative;min-height:23px;padding:0 134px 0 70px;font-family:"Noto Sans KR";font-weight:700;font-size:17px;color:#222;border-bottom:1px solid #bfbfbf;background-color:#fff;}
.n_list_view_wrap dt.point .kPointer{position:absolute;left:20px;top:20px;}
.n_list_view_wrap dt .right{position:absolute;right:20px;top:10px;}

/*.n_pop_container .n_list_view_wrap dt,
.n_list_view_wrap.type2 dt{height:28px;padding:10px 20px 0 20px;font-family:"Noto Sans KR";font-weight:400;font-size:14px;color:#505050;border-bottom:1px solid #dcdcdc;background-color:#f2f6fa;}*/
.n_list_view_wrap dt em{font-style:normal;font-weight:normal;}
.n_list_view_wrap dt strong{display:inline-block;vertical-align:middle;padding:17px 0 18px;font-family:"Noto Sans KR";font-weight:700;font-size:17px;color:#222;line-height:23px;}
.n_list_view_wrap dt strong span{display:inline-block;font-family:"Noto Sans KR";font-weight:700;}
.n_list_view_wrap dd{position:relative;padding:0;border-bottom:1px solid #eaeaea;}
.n_list_view_wrap dd p{padding:23px 20px 22px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;line-height:27px;}
.n_list_view_wrap dd p:lang(ko){word-break:normal;}
.n_list_view_wrap dd .re_addfile{margin-top:10px;}
.n_list_view_wrap dd .n_addfile_view p{line-height:18px;}
.n_list_view_wrap dd.icon_box{padding:5px 20px 5px 20px;}
.n_list_view_wrap dd.writer{position:relative;padding:21px 20px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#444;border-bottom:1px solid #bfbfbf;background-color:#fbfbfb;}
.n_list_view_wrap dd.writer strong{font-family:"Noto Sans KR";font-weight:700;font-size:13px;color:#222;}
.n_list_view_wrap dd.writer span{font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#b4b4b4;}
/*.n_list_view_wrap dd.writer span.count{display:block;position:absolute;top:15px;right:20px;}*/
.n_list_view_wrap.type2 dt .txt_12{color:#a0a0a0;font-size:12px;}
.n_list_view_wrap.type2 dd.writer{position:relative;padding:9px 20px 7px 20px;color:#a0a0a0;background-color:#fff;}

.n_list_view_wrap.firstboard{margin:0;padding:30px 0 0;}
.n_list_view_wrap.firstboard dt{min-height:58px;padding:0 60px 0 60px;font-family:"Noto Sans KR";font-weight:700;font-size:20px;color:#222;border-bottom:none;}
.n_list_view_wrap.firstboard dt strong{padding:17px 0 17px;font-size:20px;line-height:25px;}
.n_list_view_wrap.firstboard dt strong span{}
.n_list_view_wrap.firstboard dd{border-bottom:none;}
.n_list_view_wrap.firstboard dd p{padding:15px 60px 14px;font-family:"Noto Sans KR";font-weight:400;font-size:14px;color:#666;line-height:24px;}
.n_list_view_wrap.firstboard dd p:lang(ko){word-break:normal;}

/* button */
.btn_black1,
.btn_blue1,
.btn_blue2,
.btn_white1,
.btn_white2{cursor:pointer;display:inline-block;vertical-align:middle;text-align:center;}
.btn_black1 > span,
.btn_blue1 > span,
.btn_blue2 > span,
.btn_white1 > span,
.btn_white2 > span{cursor:pointer;display:inline-block;vertical-align:middle;font-family:"Noto Sans KR";font-weight:400;}
/* btn_black1 */
.btn_black1{height:22px;padding:0 0 0 8px;background-image:url(../img/ob/btn_black1.png);background-repeat:no-repeat;background-position:0 0;}
.btn_black1 > span{height:22px;padding:0 8px 0 0;line-height:22px;color:#dedede;font-size:11px;background-image:url(../img/boptn/btn_black1.png);background-repeat:no-repeat;background-position:100% 0;}
/* btn_white1 */
.btn_white1{height:28px;padding:0 0 0 10px;background-image:url(../img/ob/btn_white1.png);background-repeat:no-repeat;background-position:0 0;}
.btn_white1 > span{height:28px;padding:0 12px 0 0;line-height:28px;text-align:center;color:#333;font-size:12px;background-image:url(../img/ob/btn_white1.png);background-repeat:no-repeat;background-position:100% 0;}
/* btn_blue1 */
.btn_blue1{display:inline-block;height:28px;padding:0 0 0 10px;background-image:url(../img/ob/btn_blue1.png);background-repeat:no-repeat;background-position:0 0;}
.btn_blue1 > span{display:inline-block;height:28px;padding:0 12px 0 0;line-height:28px;text-align:center;color:#fff;font-size:12px;font-weight:bold;background-image:url(../img/ob/btn_blue1.png);background-repeat:no-repeat;background-position:100% 0;}
/* btn_blue2 */
.btn_blue2{height:30px;padding:0 5px 0 0;background-image:url(../img/ob/btn_blue2.gif);background-repeat:no-repeat;background-position:right top;}
.btn_blue2 > span{min-width:66px;line-height:30px;font-size:12px;height:30px;padding:0 5px 0 10px;font-weight:bold;color:#fff;background-image:url(../img/ob/btn_blue2.gif);background-repeat:no-repeat;background-position:left top;}
/* btn_white2 */
.btn_white2{height:30px;padding:0 5px 0 0;background-image:url(../img/ob/btn_white2.gif);background-repeat:no-repeat;background-position:right top;}
.btn_white2 > span{min-width:46px;line-height:30px;font-size:13px;height:30px;padding:0 5px 0 10px;font-weight:bold;color:#8e9bab;background-image:url(../img/ob/btn_white2.gif);background-repeat:no-repeat;background-position:left top;}

.n_h_style_reply h4{padding:10px 0 6px 0;font-family:"Noto Sans KR";font-weight:700;font-size:12px;line-height:18px;color:#487bd4;}

/* n_reply_writebox */
.n_reply_writebox{position:relative;padding:15px 19px 5px 19px;border:1px solid #dcdcdc;background-color:#f2f6fa;z-index:999;}
.n_reply_writebox textarea{position:relative;display:block;width:100%;height:68px;margin-bottom:5px;padding:5px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;border:1px solid #dcdcdc;background-color:#fff;box-sizing:border-box;}
.btnwrap .btn_write{vertical-align:middle;display:inline-block;padding:8px 20px 8px 20px;min-width:54px;text-align:center;font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#fff !important;background-color:#3585c3;}

/* n_reply_box */
.n_reply_box{}
.n_reply_box .n_reply_writebox{border-top:1px solid #dcdcdc;}
.n_reply_box .reply_li{position:relative;padding:12px 0 0;border-bottom:1px solid #dcdcdc;}
.n_reply_box .imgbx_ab{position:absolute;top:9px;left:20px;}
.n_reply_box .imgbx{width:36px;height:36px;}
.n_reply_box .imgbx img{width:36px;height:36px;}
.n_reply_box .imgbx .bg{width:36px;height:36px;background-image:url(../img/ob/bg_round1.png);background-repeat:no-repeat;background-position:0 0;background-size:100%;}
.n_reply_box .nobg .imgbx .bg{background-image:url(../img/ob/bg_round3.png);background-repeat:no-repeat;background-position:0 0;}
.n_reply_box .re_wrt{display:inline-block;margin:0 0 0 8px;padding:0 0 0 16px;font-family:"Noto Sans KR";font-weight:400;font-size:12px;color:#6e6e6e;background-image:url(../img/ob/bg_answertxt.png);background-repeat:no-repeat;background-position:0 50%;}

.n_reply_box .reply_li dl{margin:0;}
.n_reply_box .reply_li dl dt{position:relative;height:18px;padding:0;margin:0 0 0 56px;color:#555;}
.n_reply_box .reply_li dl dt strong{padding:0 0 0 15px;font-family:"Noto Sans KR";font-weight:700;font-size:13px;}
.n_reply_box .reply_li dl dt .date{padding:0 0 0 5px;font-family:"Noto Sans KR";font-weight:400;color:#aaa;}
.n_reply_box .reply_li dl dt .r_btn_box{position:absolute;top:-3px;right:20px;}
.n_reply_box .reply_li dl dd{padding:5px 0 12px 15px;margin:0 0 0 56px;font-family:"Noto Sans KR";font-weight:400;font-size:13px;line-height:18px;color:#6e6e6e;}
.n_reply_box .reply_li dl dd strong{font-family:"Noto Sans KR";font-weight:700;font-size:13px;}
.n_reply_box .reply_li dl dd.addfile_wrap{border-top:1px dashed #ededed;padding:10px 15px 10px 0;margin:0 0 0 70px;}
.addfile_wrap .re_addfile{font-family:"Noto Sans KR";font-weight:400;font-size:11px;color:#505050;line-height:20px;}
.addfile_wrap .re_addfile span{font-family:"Noto Sans KR";font-weight:400;font-size:11px;color:#505050;line-height:20px;}
.addfile_wrap .no_addfile{font-size:11px;color:#67ba2f;line-height:20px;}
.addfile_wrap .addfile_close{margin-left:4px;display:inline-block;padding:0 10px 0 0;font-family:"Noto Sans KR";font-weight:400;background-image:url(../img/ob/bul_addfile_close.gif);background-repeat:no-repeat;background-position:100% 7px;}
.addfile_wrap .addfile_open{margin-left:4px;display:inline-block;padding:0 10px 0 0;font-family:"Noto Sans KR";font-weight:400;background-image:url(../img/ob/bul_addfile_open.gif);background-repeat:no-repeat;background-position:100% 7px;}
.addfile_wrap .n_addfile_view{position:relative;}
.addfile_wrap .n_addfile_view p{position:relative;height:14px;line-height:14px;margin:0 0 3px 0;padding:5px 0 4px 37px;font-size:11px;color:#505050;background-color:#fff;border:1px solid #c8c8c8;}
.addfile_wrap .n_addfile_view p a{font-family:"Noto Sans KR";font-weight:400;font-size:11px;color:#505050;}
.addfile_wrap .n_addfile_view p a:hover{text-decoration:underline;}
.addfile_wrap .n_addfile_view p .fileicon{display:block;position:absolute;top:-1px;left:-1px;width:25px;height:25px;background-image:url(../img/ob/bg_fileicon.gif) ;background-repeat:no-repeat;background-position:0 0;}
.addfile_wrap .n_addfile_view p .btn_addfile_close{position:absolute;top:7px;right:10px;}
.addfile_wrap .n_addfile_view p .txt_byte{position:absolute;top:5px;right:36px;font-family:"Noto Sans KR";font-weight:400;color:#67ba2f;font-size:11px;}
.addfile_wrap .n_addfile_view p .filename img{margin-top:-2px;margin-right:4px;}

/* re_reply_li */
.re_reply_li{position:relative;padding:12px 0 0;background-image:url(../img/ob/bg_re_reply_li.png);background-repeat:no-repeat;background-position:87px 15px;}
.re_reply_li .imgbx_ab{position:absolute;top:9px;left:110px;}
.re_reply_li .imgbx .bg{width:36px;height:36px;background-image:url(../img/ob/bg_round1.png);background-repeat:no-repeat;background-position:0 0;}
.n_reply_box .re_reply_li dl dt{position:relative;height:18px;padding:0;margin:0 0 0 146px;border-bottom:none;color:#4c637b;}
.n_reply_box .re_reply_li dl dt strong{padding:0 0 0 15px;}
.n_reply_box .re_reply_li dl dt .date{color:#4c637b;}
.n_reply_box .re_reply_li dl dt .r_btn_box{position:absolute;top:-3px;right:20px;}
.n_reply_box .re_reply_li dl dd{padding:5px 0 12px 15px;margin:0 0 0 146px;line-height:18px;color:#788899;}

/* imgbx */
.imgbx{position:relative;}
.imgbx .bg{display:block;position:absolute;top:0;left:0;}

.addfile_ly_wrap{display:inline-block;position:relative;z-index:999;vertical-align:middle;}
.file_layer{display:none;position:absolute;top:30px;left:-20px;z-index:999;}/* (modify)20190715 */
.file_layer_po{display:block;position:relative;padding:10px 12px;background-color:#505050;}
.file_layer_po .tail{display:block;position:absolute;top:-5px;left:28px;width:10px;height:5px;background-image:url(../img/ob/tail_filelayer.png);background-repeat:no-repeat;background-position:0 0;}
.file_layer_po .txt{cursor:pointer;display:block;font-family:"Noto Sans KR";font-weight:400;color:#f6f6f6;font-size:11px;white-space:nowrap;}

.addphoto_ly_wrap{display:inline-block;position:relative;z-index:999;vertical-align:middle;}

/* prenext_write */
.prenext_write{position:relative;margin:20px 0 0;border-top:2px solid #3585c3;}
.prenext_write table{}
.prenext_write table td{padding:0 0 0 15px;border-bottom:1px solid #cfdde6;font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#888;vertical-align:middle;height:41px;min-height:41px;}
.prenext_write table td a{font-family:"Noto Sans KR";font-weight:400;font-size:13px;color:#888;padding-top:3px;display:inline-block;width:98%;text-overflow:ellipsis;overflow:hidden;word-break:nowrap;white-space:nowrap;}
.prenext_write table td a .icon_i{margin-top:-3px;}
.prenext_write table td.date{font-family:"Noto Sans KR";font-weight:400;font-size:13px;text-align:right;padding:0 15px 0 0;color:#888;}

.firstboard_slide_ctrl_box{display:block;position:relative;height:18px;margin:0 30px;padding:25px 0 30px;text-align:center;overflow:;}
.firstboard_slide_ctrl.on{border:2px solid #0c419a;background-color:#0c419a;}
.firstboard_slide_ctrl{display:inline-block;width:4px;height:4px;margin:0 2px;padding:0;font-size:0;border:2px solid #a0a5b7;background-color:#fff;border-radius:8px;}
