@charset "utf-8";
/* CSS Document */


/* 이용규정 */
.rule_cmd_wrap{background-color:#fff;}

.rule_cmd_wrap .rule_cmd_header{display:block;position:fixed;left:0;top:0;right:0;padding:14px 30px 14px 30px !important;border-bottom:1px solid #ccc;background-color:#fff;z-index:2;}
.rule_cmd_wrap .rule_cmd_header h1{padding:0 0 1px;font-family:'Noto Sans KR';font-weight:500;font-size:20px;color:#000;line-height:30px;text-align:left;}

.rule_cmd_wrap .rule_cmd_container{display:block;position:relative;margin:0;padding:70px 30px 40px;}
.clause_cmd_wrap{margin:0;}
.clause_cmd_wrap .clause_cmd_box{padding:25px 30px;}
.clause_cmd_wrap .clause_cmd_box p.txt_rule_info{margin:10px 0 0;padding:2px 0;font-family:'Noto Sans KR';font-weight:400;font-size:15px;color:#222;line-height:21px;}
.clause_cmd_wrap .clause_cmd_box p.txt_rule_info a{display:inline-block;margin:5px 0 0;font-family:'Noto Sans KR';font-weight:400;color:#0867c5;text-decoration:underline;}
.clause_cmd_wrap .clause_cmd_box p.txt_rule_info strong{font-family:'Noto Sans KR';font-weight:700;}

.rule_eps_wrap{display:block;margin:30px 0 0 0;padding:0;}
.rule_eps_wrap ol{display:block;margin:0 0 0 0;padding:0;}
.rule_eps_wrap ol > li{display:block;position:relative;margin:15px 0 0 25px;padding:1px 0;font-family:'Noto Sans KR';font-weight:400;font-size:14px;color:#222;line-height:21px;}
.rule_eps_wrap ol > li span{display:block;position:absolute;left:-25px;top:0;width:25px;margin:0;padding:1px 0;font-family:'Noto Sans KR';font-weight:400;font-size:14px;color:#222;line-height:21px;}
.rule_eps_wrap ol > li a{display:inline-block;margin:5px 0 0;font-family:'Noto Sans KR';font-weight:400;color:#0867c5;text-decoration:underline;}
.rule_eps_wrap ul{display:block;margin:0 0 0 0;padding:0;}
.rule_eps_wrap ul > li{display:block;position:relative;margin:5px 0 0 20px;padding:1px 0;font-family:'Noto Sans KR';font-weight:400;font-size:14px;color:#222;line-height:21px;text-indent:-20px;}

.rule_tbl_agree{background-color:#fff;}
.rule_tbl_agree th,
.rule_tbl_agree td{vertical-align:middle;}
.rule_tbl_agree th{border:1px solid #bbb;background-color:#ebecf0;}
.rule_tbl_agree th > div{padding:6px 10px;font-family:'Noto Sans KR';font-weight:400;font-size:14px;color:#222 !important;line-height:21px;text-align:center;}
.rule_tbl_agree td{border:1px solid #bbb;}
.rule_tbl_agree td > div{padding:8px 10px;font-family:'Noto Sans KR';font-weight:400;font-size:14px;color:#555 !important;line-height:21px;text-align:left;}
